@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(
        135deg,
        #303846 37.5%,
        #3c434b 37.5%,
        #3c434b 50%,
        #303846 50%,
        #303846 87.5%,
        #3c434b 87.5%,
        #3c434b 100%
    );
    background-size: 56.57px 56.57px;
}

.plate-grid-template {
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: [plate-grid-row-header-1] 1fr repeat(5, [plate-grid-row-first] auto) [plate-grid-row-header-2] 0.75fr repeat(
            5,
            [plate-grid-row-second] auto
        );
}

.grid-header-bar {
    grid-column: 1;
    grid-row: plate-grid-row-header-1;
}

.grid-header-closest {
    grid-column: 2;
    grid-row: plate-grid-row-header-1;
}

.grid-header-plate-per-side {
    grid-column: 1;
    grid-row: plate-grid-row-header-2;
}

.grid-header-kg-per-side {
    grid-column: 2;
    grid-row: plate-grid-row-header-2;
}

.grid-footer-plates {
    grid-column: 1;
    grid-row: plate-grid-row-second-end;
}

@media (width >= 640px) {
    .plate-grid-template {
        grid-template-columns: 1fr 0.666fr 1.5fr 0.666fr;
        grid-template-rows: [plate-grid-row-header-1] 1fr repeat(5, [plate-grid-row-first plate-grid-row-second] auto);
    }

    .grid-header-plate-per-side {
        grid-column: 3;
        grid-row: plate-grid-row-header-1;
    }

    .grid-header-kg-per-side {
        grid-column: 4;
        grid-row: plate-grid-row-header-1;
    }

    .grid-footer-plates {
        grid-column: 3;
    }
}
